## Prepared Statements and SQL Injections

In [12]:
import psycopg2
import csv
import os
import pandas as pd
import numpy as np

In [26]:

hostname = os.environ.get('HOST_POSTGRES')
username = os.environ.get('DB_USER')
password = os.environ.get('DB_PASS') #
database = os.environ.get('DATABASE_NAME_POSTGRES')
schema_name = 'public'
table_name = 'dq'

In [31]:
conn = psycopg2.connect( host=hostname, user=username, password=password, dbname=database )

In [28]:
row_values = { 
    'identifier': 1, 
    'mail': 'adam.smith@dataquest.io',
    'name': 'Adam Smith', 
    'address': '42 Fake Street'
}

In [18]:
placeholders

'%(identifier)s, %(mail)s, %(name)s, %(address)s'

In [16]:
cur = conn.cursor()
placeholders = ', '.join(['%('+val+')s' for val in row_values])
cur.execute(f"""
    INSERT INTO users VALUES (
    {placeholders}
    )""",row_values)
conn.commit()
conn.close()

In [17]:
placeholders

'%(identifier)s, %(mail)s, %(name)s, %(address)s'

In [30]:
def get_email(name):
    cur = conn.cursor()
    # create the query string using the format function
    query_string = "SELECT email FROM users WHERE name = '" + name + "';"
    # execute the query
    cur.execute(query_string)
    res = cur.fetchall()
    conn.close()
    return res
# add you code below

fake_name = "JAnusz' OR 0=0; --"
all_emails = get_email(fake_name)
all_emails

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [9]:
f"""
    INSERT INTO users VALUES (
    {placeholders}
    )"""

'\n    INSERT INTO users VALUES (\n    %(identifier)s, %(mail)s, %(name)s, %(address)s\n    )'

In [16]:
fake_name = "JAnusz' OR 0=0; --"

In [17]:
query_string = "SELECT email FROM users WHERE name = '" + fake_name + "';"
query_string

"SELECT email FROM users WHERE name = 'JAnusz' OR 0=0; --';"